//tablet first then work down to mobile
@media @tablet{
  body{
    .content{
      .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top-picture{
          width: 60%;
          margin-left: 19%;
          margin-right: 19%;
        }
        span{
          width: 75%;
          margin-left: 12%;
          margin-right: 12%;
          h3{
            padding-bottom: 20px;
          }
          button{
            border-radius: 5px;
            width: 200px;
            height: 75px;
            &:hover{
              background: @bloodOrange;
              color: @tan;
              opacity: 60%;
            }
          }
        }
      }
      .articles{
        display: flex;
      }
    }
  }
  .about-us{
    .people{
      .displayFlex(space-around;center;95%; 0 2.4%;row;);
    //  flex-wrap: wrap;
      border: 2px solid white;
    //  display: table;
      width: 95%;
      .person{
        //.displayFlex(center;center; 37%;0;column;);
        width: 37%;
        height: auto;
        padding: 5px 10px;
      //  border: @border;
      }
    }
  }
}




//this one is for mobile
@media @mobile {
  body{
    .mid-picture{
      display: none;
    }
    header{
      background: @mustard;
      nav{
        .displayFlex(center;center;80%;0 9%;column;);
        a{
          padding: 10px;
          &:hover{
            background: @mustard;
            border: none;
            padding: 10px;
          }
        }
      }
      border-bottom: 2px dotted @darkBlue;
    }
    .content h2{
      font-size: 3.5rem;
    }
    .content article span h3{
      font-size: 3rem;
    }
    .content{
      .intro{
        span{
          width: 100%;
          margin: 0;
          padding: 0;
          padding: 10px 2.5%;
          button{
            font-size: 2rem;
          }
        }
      }
    }

    .articles{
      .displayFlex(center;center;95%;0 2.4%;column;);
      .snippet{
        .displayFlex(center;center;80%;0 9%;column;);
        width: 0%;
        width: 100%;
        h3{
          font-size: 3rem;
        }
      }

    }
    .content .articles .snippet{
      width: 100%;
    }
  }
  .about-us{
    .people{
      .displayFlex(center; center;95%; 0 2.4%; column;);
      .person{
        width: 75%;
        h3{
          font-size: 2rem;
        }
        p{
          display: none;
        }
      }
    }
  }

}
