.h1 {
  font-family: "Lato", sans-serif;
  color: #4056A1;
  font-size: 5rem;
}
.h2 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  color: #F13C20;
}
.h3 {
  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  color: #D79922;
}
.b {
  background-color: #EFE2BA;
}
.a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.7rem;
}
.p {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  flex-direction: row;
}
header h1 {
  font-family: "Lato", sans-serif;
  color: #4056A1;
  font-size: 5rem;
}
header nav {
  background-color: #D79922;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  flex-direction: row;
  padding: 5px 10px;
  align-items: baseline;
}
header nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.7rem;
  margin: 0 5px;
  padding: 0 5px;
  border: 1px solid yellow;
  color: #292D3A;
  border: none;
}
header nav a:hover {
  background: yellow;
  border-radius: 2px;
  padding-top: 20px;
}
footer {
  background-color: #EFE2BA;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0;
  flex-direction: row;
  background-color: #D79922;
  align-content: center;
  padding-top: 10px;
}
footer p {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}
body {
  background-color: #EFE2BA;
}
body .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
body .content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
body .content h2 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  color: #F13C20;
  padding: 5px 0;
  margin: 2px;
}
body .content h3 {
  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  color: #D79922;
}
body .content .intro {
  display: flex;
  flex-direction: row;
}
body .content .intro p {
  text-align: left;
}
body .content .intro button {
  border: none;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  background-color: #F13C20;
  color: #EFE2BA;
  font-size: 1.6rem;
  font-family: "Anton", sans-serif;
  padding: 5px;
}
body .content .intro button:hover {
  background: #4056A1;
  color: #F13C20;
}
body .content .intro span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .content .intro .top-picture {
  width: 40%;
  height: 40%;
  margin: 2.5% 2.5%;
  padding: 5px 10px;
}
body .content .intro span {
  width: 50%;
  margin: 2.5% 0;
}
body .content .mid-picture {
  width: 100%;
  height: auto;
  margin: 1% 0;
  padding: 5px 0;
}
body .content .articles {
  display: table;
  width: 100%;
}
body .content .articles .snippet {
  width: 45%;
  display: table-cell;
  padding: 10px 2.5%;
}
body .content .articles .snippet h3 {
  text-align: center;
  padding: 5px;
}
body .content .articles .snippet p {
  padding: 5px 0;
}
img {
  width: 200px;
  height: 200px;
}
.logo {
  width: 50px;
  height: 50px;
}
.about-us {
  background-color: #EFE2BA;
}
.about-us .main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 2.4%;
  flex-direction: column;
  padding: 5px 0;
}
.about-us .main-text p {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
.about-us .people {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  margin: 0 2.4%;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-us .people .person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  margin: 0;
  flex-direction: column;
  padding: 0;
}
.about-us .people .person h3 {
  padding-bottom: 5px;
}
.about-us .people .person .prof-pics {
  width: 90%;
  height: 90%;
  padding: 5px;
}
.about-us .people .person p {
  padding: 5px;
}
.about-us .people .person a:hover {
  background-color: #FB8E95;
  border-radius: 20%;
  padding: 0;
  margin: 0;
}
.about-us .people .1 p {
  text-decoration: none;
}
section h2 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  color: #F13C20;
}
section h3 {
  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  color: #D79922;
}
@media (max-width: 800px) {
  body .content .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .content .intro .top-picture {
    width: 60%;
    margin-left: 19%;
    margin-right: 19%;
  }
  body .content .intro span {
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
  }
  body .content .intro span h3 {
    padding-bottom: 20px;
  }
  body .content .intro span button {
    border-radius: 5px;
    width: 200px;
    height: 75px;
  }
  body .content .intro span button:hover {
    background: #F13C20;
    color: #EFE2BA;
    opacity: 60%;
  }
  body .content .articles {
    display: flex;
  }
  .about-us .people {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2.4%;
    flex-direction: row;
    border: 2px solid white;
    width: 95%;
  }
  .about-us .people .person {
    width: 37%;
    height: auto;
    padding: 5px 10px;
  }
}
@media (max-width: 500px) {
  body .mid-picture {
    display: none;
  }
  body header {
    background: #D79922;
    border-bottom: 2px dotted #4056A1;
  }
  body header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 9%;
    flex-direction: column;
  }
  body header nav a {
    padding: 10px;
  }
  body header nav a:hover {
    background: #D79922;
    border: none;
    padding: 10px;
  }
  body .content h2 {
    font-size: 3.5rem;
  }
  body .content article span h3 {
    font-size: 3rem;
  }
  body .content .intro span {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10px 2.5%;
  }
  body .content .intro span button {
    font-size: 2rem;
  }
  body .articles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 2.4%;
    flex-direction: column;
  }
  body .articles .snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 9%;
    flex-direction: column;
    width: 0%;
    width: 100%;
  }
  body .articles .snippet h3 {
    font-size: 3rem;
  }
  body .content .articles .snippet {
    width: 100%;
  }
  .about-us .people {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 2.4%;
    flex-direction: column;
  }
  .about-us .people .person {
    width: 75%;
  }
  .about-us .people .person h3 {
    font-size: 2rem;
  }
  .about-us .people .person p {
    display: none;
  }
}
@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata Regular'), local('Alata-Regular'), url(https://fonts.gstatic.com/s/alata/v1/PbytFmztEwbIoce9zqM.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
